<div class="carousel-item <%=(@first ? "active" : "")%>" style="height:100vh">
  <div class="row" style="height:100vh">
    <div class="col-lg-6 vote" id="<%=destination[0]["id"]%>" data-item="<%=@i.to_s+";"+@destinations.size.to_s%>" style="cursor:pointer; height:100%; border:1px solid #000;background: url(<%=url_for(Destination.find(destination[0]["id"]).image)%>) center center /cover">
      <div class="container">
        <div class="devise" style="text-aling:center; height: 30vh">
          <div class="devise-body">
            <h1><%=destination[0]["place"]%></h1>
            <%=destination[0]["description"]%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 vote" id="<%=destination[1]["id"]%>" data-item="<%=@i.to_s+";"+@destinations.size.to_s%>" style="cursor:pointer; height:100%; border:1px solid #000;background: url(<%=url_for(Destination.find(destination[1]["id"]).image)%>) center center /cover">
      <div class="container">
        <div class="devise" style="text-aling:center; height: 30vh">
          <div class="devise-body">
            <h1><%=destination[1]["place"]%></h1>
            <%=destination[1]["description"]%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>